.hero-pricing {
    background-color: #dc3c45;
    padding: 3rem 0;
    text-align: center;
    h2 {
        font-size: 3rem;
        color: white;
        font-weight: 700;
        margin: 1rem 0;
    }
    p {
        font-size: 1rem;
        color: white;
        font-weight: 500;
    }
}

.plans-section {
    background-color: #f8f9fa;
    li {
        margin-bottom: 1.4rem;
    }
}

.cols {
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 3rem 1.2rem;
    text-align: center;
}

.box {
    border: 1px solid gray;
    padding: 2rem 1rem; //   .plans-section {
    //     .btn {
    //       width: 15%;
    //       margin: 1rem auto;
    //       display: block;
    //       text-align: center;
    //       border: 1px solid #dc3c45;
    //       color: #dc3c45;
    //       padding: 0.66rem 0;
    //       border-radius: 50px;
    //     }
    //   }
    margin: 1rem 0;
    border-radius: 5px;
    h5 {
        font-size: 1.1rem;
        color: black;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

//   .plans-section {
//     .btn {
//       width: 15%;
//       margin: 1rem auto;
//       display: block;
//       text-align: center;
//       border: 1px solid #dc3c45;
//       color: #dc3c45;
//       padding: 0.66rem 0;
//       border-radius: 50px;
//     }
//   }
.cols {
    h5 {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .number {
        margin: 1.5rem 0;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .number::before {
        content: "$";
    }
    .includes {
        margin: 1rem 0;
        font-weight: bold;
    }
    .btn {
        display: inline-block;
        border: 1px solid #dc3c45;
        border-radius: 50px;
        width: 50%;
        margin: 0 auto;
        padding: 0.64rem 1rem;
    }
    .active {
        background-color: #dc3c45;
        color: white;
    }
}